<h2>Add Task</h2>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <p>
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" />
    </p>

    <p>
        <label for="description">Description</label>
        <textarea id="description" rows="5" formControlName="description"></textarea>
    </p>

    <p>
        <label for="status">Status</label>
        <select id="status" formControlName="status">
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
        </select>
    </p>

    <p>
        <label for="priority">Priority</label>
        <select id="priority" name="priority" formControlName="priority" >
            <option value="P1">Critical</option>
            <option value="P2">Major</option>
            <option value="P3">Medium</option>
            <option value="P4">Low</option>
        </select>
    </p>

    <p>
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" formControlName="dueDate" />
    </p>

    <p class="actions">
        <a routerLink="/tasks">Cancel</a>
        <button type="submit">{{ submitText }}</button>
    </p>
</form>
