<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label for="statusFilter">Status</label>
    <select id="statusFilter" formControlName="statusFilter">
        <option value="no filter">No Filter</option>
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
    </select>
    <button type="submit">Filter</button>
</form>

<router-outlet />
<ul>
    @for (task of tasksService.allTasks(); track task.id) {
        <li>
            <app-task-item [task]="task" />
        </li>
    } @empty {
        <p>There are no tasks yet. Start adding some!</p>
    }
</ul>

